.users-data {
  max-height: 100dvh;
  overflow: auto;
  padding: 15px;
  padding-bottom: 76px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  .customer-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 7px;
    form {
      position: relative;
      button {
        position: absolute;
        top: 13.5px;
        left: 14.5px;
        border: none;
        cursor: pointer;
        img {
          width: 14.58px;
          height: 14.58px;
        }
      }
      input {
        width: 300px;
        border: #efeff4;
        background-color: #f9f9fb;
        border-radius: 8px;
        padding: 13px 40px;
      }
    }
    h3 {
      color: #1a1512;
      font-size: 18px;
    }
  }
  .customer-edit {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      gap: 5px;
      button {
        background-color: #f9f9fb;
        width: 30px;
        border-radius: 8px;
        border: 1px solid #ebebee;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
    button {
      padding: 8px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
    .btn {
      background-color: #d9d9d9;
      width: 150px;
    }
  }
}

.all-customers {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .active {
    background-color: #f9f9fb !important;
  }
  .customer {
    cursor: pointer;
    border: 1px solid #efeff4;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 15px 20px;
    background-color: #ffffff;
    border-radius: 12px;

    .customer-status {
      width: 100%;
      justify-content: space-between;
      display: flex;
      align-items: center;
    }

    .customer-data {
      display: flex;
      align-items: center;
      gap: 12px;
      min-width: 250px;
      .customer-inf {
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
        span {
          color: grey;
          font-size: 12px;
        }
      }
      .customer-initials {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #2B7CD3;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
      }
    }
  }

  .customer:hover {
    background-color: #f9f9fb !important;
  }
  .pages {
    padding-left: 20px;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    background-color: #ffffff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    bottom: 0;
    left: 0;
    height: 61px;
    .view-users-length-and-total {
      padding-left: 20px;
      text-align: center;
      opacity: 50%;
      color: #1a1512;
      letter-spacing: -2%;
      line-height: 100%;
      font-size: 12px;
    }
    .pages-area {
      display: flex;
      gap: 6px;
      align-items: flex-end;
      button {
        width: 31px;
        height: 31px;
        border: none;
        border-radius: 6px;
        background-color: #eaeaea;
        color: #000811;
        cursor: pointer;
      }
      .activePage {
        background-color: #c73634;
        color: white;
      }
    }
  }
}
