<main>
  @if(isEditMode()){
  <app-user-edit  />
  } @if(isFetchingEnd()){
  <app-fetch-data-response />
  }

  <section class="navigation">
    <img (click)="onReturnHomePg()" src="icons/logo.png" alt="" />
    <app-navigation />
  </section>
  <section class="body">
    <div class="customer">
      <div class="customer-info">
        <div class="cube"></div>
        <div class="customer-name">
          <span>კეთილი იყოს თქვენი მობრძანება</span>
          <h4>სახელი გვარი</h4>
        </div>
      </div>
      <button>სესიის დასასრული</button>
    </div>
    <router-outlet />
  </section>
</main>
